<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="GoodlyFere.Criteria" version="1.0.0.6" targetFramework="net45" />
  <package id="GoodlyFere.Data" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="NServiceBus" version="4.6.1" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.6.1" targetFramework="net45" />
  <package id="this.Log" version="0.0.3.0" targetFramework="net45" />
</packages>